---

---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Marca Website</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,400..700&display=swap"
            rel="stylesheet"
        />
    </head>

    <body class="bg-[#272727] text-white font-[Inter] text-xl min-h-screen leading-[1.2] py-16">
        <div class="container px-4 flex flex-col justify-center items-center gap-10 mx-auto">
            <main class="flex flex-col sm:flex-row gap-[34px] lg:gap-x-[106px] flex-wrap max-w-[888px] mx-auto">

                <section class="flex flex-col gap-4 items-start lg:max-w-[391px] basis-52 grow md:basis-72 shrink">
                        <div class="pb-2">
                    <img
                        class="border-none outline-transparent object-contain max-h-[26px]"
                        src="/img/radiox-header.svg"
                    />
                        </div>
                    <div class="w-full h-[100px] rounded overflow-hidden">
                        <img src="/img/radiox-image.png" alt="Radiox project image" class="object-cover h-full w-full filter grayscale">
                    </div>
                    <p>
                    Create podcasts with AI voices.
Make daily briefing for your neighbourhood in a few minutes.
                    </p>
                    <a href="https://radiox.se/" target="_blank" class="text-[17px]">radiox.se</a>
                </section>

                <section class="flex flex-col gap-4 items-start lg:max-w-[391px] basis-52 grow md:basis-72 shrink">
                        <div class="pb-2">
                    <img
                        class="border-none outline-transparent object-contain max-h-[26px]"
                        src="/img/timeline-header.svg"
                    />
                        </div>
                    <div class="w-full h-[100px] rounded overflow-hidden">
                        <img src="/img/timeline-image.png" alt="Timeline project image" class="object-cover h-full w-full filter grayscale">
                    </div>
                    <p>Track the performance of your business as a timeline with insights. Connect your data sources today.</p>
                    <a href="#" class="text-[17px]">Coming soon</a>
                </section>

                <section class="flex flex-col gap-4 items-start lg:max-w-[391px] basis-52 grow md:basis-72 shrink">
                        <div class="pb-2">
                    <img
                        class="border-none outline-transparent object-contain max-h-[26px]"
                        src="/img/localix-header.svg"
                    />
                        </div>
                    <div class="w-full h-[100px] rounded overflow-hidden">
                        <img src="/img/localix-image.png" alt="Radiox project image" class="object-cover h-full w-full filter grayscale">
                    </div>
                    <p>Platform for hyper-local information.
Get a push notification to your phone when something happens nearby.</p>
                    <a href="https://localix.com/" target="_blank" class=" block text-[17px] bg-black rounded-[10px] px-4 py-2.5">localix.com</a>
                </section>

                <section class="flex flex-col gap-4 items-start lg:max-w-[391px] basis-52 grow md:basis-72 shrink">
                        <div class="pb-2">
                    <img
                        class="border-none outline-transparent object-contain max-h-[26px]"
                        src="/img/botwriter-header.svg"
                    />
                        </div>
                    <div class="w-full h-[100px] rounded overflow-hidden bg-[#c4c4c4]">
                    </div>
                    <p>
                    Pick data sources, give prompt to AI<br>(GPT) and let it write Markdown-<br>
based output.
                    </p>
                    <a href="#" class="text-[17px]">Coming soon</a>
                </section>

            </main>


            <aside class="flex flex-col sm:flex-row gap-[34px] lg:gap-x-[106px] flex-wrap max-w-[888px] mx-auto
                sm:grid grid-cols-2">
                <section class='flex flex-col gap-[18px] items-start lg:max-w-[440px] grow shrink'>
                        <h2 class="font-bold text-[28px]">Consulting</h2>
                        <p>Recent work has been done in React, Vue, React Native, dotnet, Python etc.
                        <br>Extensive experience with many of the cloud services in AWS, Azure and Cloudflare.  User interfaces with Figma.</p>
                </section>
                <section class='flex flex-col gap-[18px] items-start lg:max-w-[391px] grow shrink'>
                        <h2 class="font-bold text-[28px]">Operations</h2>
                        <p>We'll take care of your business applications, with support and maintenance, 24-hrs monitoring (SLA), running in your cloud environment. Get monthly fee estimation upon request.</p>
                </section>
            </aside>

        </div>
    </body>

</html>
